@model Mindit.ViewModels.CategoriesPostsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ForumPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span asp-for="className" class="control-label">Which Class</span>
                <select id="DropDownList1" asp-for="@Model.forumPost.mindyName" class="form-control">
                    <option value="">Please Select</option>
                    @foreach (var category in Model.categories)
                    {
                        <option value="@category.categoryName">@category.categoryName</option>
                    }
                </select>
                <span asp-validation-for="@Model.forumPost.mindyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span asp-for="postTitle" class="control-label">Title</span>
                <input asp-for="@Model.forumPost.postTitle" class="form-control" />
                <span asp-validation-for="@Model.forumPost.postTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span asp-for="postBody" class="control-label">Text</span>
                <textarea asp-for="@Model.forumPost.postBody" class="form-control"></textarea>
                <span asp-validation-for="@Model.forumPost.postBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
