@model Mindit.Models.ForumPost

@{
    ViewData["Title"] = "Details";
}

<div>
    <table class="ReplyTable table-borderless table-responsive">

        <tr>
            <td>
                <h1>@Model.postTitle</h1>
            </td>
        </tr>
        <tr>
            <td>
                @*@Html.DisplayFor(Model => item.classIcon)*@
                <span style="font-size:10pt">
                    Posted by
                    @Html.DisplayFor(Model => Model.authorName)
                    at
                    @Html.DisplayFor(Model => Model.postDate)
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-size:14pt">@Html.DisplayFor(Model => Model.postBody)</span>
            </td>
        </tr>
        <tr>
            <td>

                @{
                    var upvoteImgUrl = "~/Images/upvoteIconEmpty.png";
                    if (Model.postVotes.Any(p => p.userName == User.Identity.Name))
                    {
                        if (Model.postVotes.FirstOrDefault(p => p.userName == User.Identity.Name).voteStyle == "upvoteFull")
                        {
                            upvoteImgUrl = "~/Images/upvoteIconFull.png";
                        }
                    }
                }
                <button class="postVoteButton" name="upvoteButton" id="upvoteButton @Model.PostId" type="submit" value="upvoteEmpty" onclick="ClickVoteButton(@Model.PostId, this, voteCountText@(Model.PostId))"
                        style="background-image:url(@Url.Content(upvoteImgUrl))">
                </button>


                @{
                    var postLikeSum = Model.postLikes - Model.postDislikes;
                    <span id='voteCountText@(Model.PostId)'>
                        @Html.DisplayFor(Model => postLikeSum)
                    </span>
                }


                @{
                    var downvoteImgUrl = "~/Images/downvoteIconEmpty.png";
                    if (Model.postVotes.Any(p => p.userName == User.Identity.Name))
                    {
                        if (Model.postVotes.FirstOrDefault(p => p.userName == User.Identity.Name).voteStyle == "downvoteFull")
                        {
                            downvoteImgUrl = "~/Images/downvoteIconFull.png";
                        }
                    }
                }
                <button class="postVoteButton" name="downvoteButton" id="downvoteButton @Model.PostId" type="submit" value="downvoteEmpty"
                        style="background-image:url(@Url.Content(downvoteImgUrl))"
                        onclick="ClickVoteButton(@Model.PostId, this, voteCountText@(Model.PostId))">
                </button>
            </td>
        </tr>
    </table>
</div>


<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>