@model IEnumerable<Mindit.Models.MinditCategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryCreator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayNameFor(modelItem => item.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryCreator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.categoryName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.categoryName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.categoryName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
